/*Farver
Rød: #b62e2e
Lys rød: #cc4e4a
Blå: #000033
Off-White: #fff7f9 rgb(255, 247, 249)

Font: 
font-family: 'Montserrat', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #fff7f9;
}

/*=======FÆLLES==================================*/

a {
    text-decoration: none;
}

h4 {
    color: #fff7f9;
    font-weight: lighter;
    font-size: 1.2rem;
    padding-bottom: 0.8em;
    cursor: default;
    font-weight: 500;
}

h3
{
    color: #000033;
    font-size: x-large;
    padding: 8px;
    margin-left: 20px;
    cursor: default;
}

#bg-wrap {
    background-image: url(../img/bg-blå.png);
    background-size: cover;
    width: auto;
    background-position: top;
    background-repeat: no-repeat;
}

/*=======PRELOADER==================================*/

#preloader {
    background: #fff7f9 url(../img/loading.gif) no-repeat center;
    background-size: 30%;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
}

/*=======HEADER==================================*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    background: #fff7f9;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    width: 90px;
    padding: 10px;
}

.icon {
    height: 35px;
}

.nav-list {
    list-style: none;
    padding-right: 20px;
}

.nav-list li {
    display: inline;
    padding: 0 10px;
    
}

#text-nav .nav-list li a {
    text-decoration: none;
    color: #000033;
    font-size: 1.4rem;
    font-weight: 500;
}

.nav-list li a:hover {
    opacity: 0.6;
}

/*=======MAIN==================================*/

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 800px;
}

/*=======BETALING==================================*/

.boks
{
background-color: rgb(255, 255, 255);
border-color: #b62e2e;
border-style: solid;
border-radius: 20px;
width: 600px;
height: 300px;
margin-top: 8px;
margin-bottom: 8px;
padding: 6px;
}

#godkend {
    background: #b62e2e;
    border: none;
    padding: 7px 20px;
    font-size: 1.3rem;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    margin-top: 1.6em;
    margin-bottom: 120px;
    border-radius: 15px;
}

#godkend:hover {
    opacity: 0.8;
}

table
{
    margin: 10px;
    border-spacing: 20px;
    width: 570px;
    cursor: default;
}

#opret
{ 
    color: #000033;
    margin-left: -250px;
    cursor: pointer;
}

.handling 
{
text-decoration: underline;
font-style: italic;
color: #000033;
cursor: pointer;
}

.svar
{
    text-align: right;
    font-style: italic;
}

.space
{
    color: rgb(255, 255, 255);
}

.info
{
    font-weight: bold;
}

/*=======FOOTER==================================*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.6em 4em;
}

.footer-content {
    display: flex;
    flex-direction: column;
}

.footer-content a {
    text-decoration: none;
    color: #fff7f9;
    padding-bottom: 0.5em;
}

.footer-content p {
    color: #fff7f9;
    padding-bottom: 0.5em;
}

.some {
    font-size: 1.8rem;
    margin-right: 0.5em;
}

.some:hover {
  color: #b62e2e;
}